.itemInBasketContainer{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    align-items: center;    
}

.itemInBasketContainer > div{
    margin: 0 auto;
}

.imageContainer{
    width: 50%;
}

.image{
    width: 100%;
}