.basketPageContant{
    width: 80%;
    margin: 2% auto;
    display: flex;
    flex-direction: column;
    row-gap: 20%;
    text-align: center;
}

.title{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    background: #FFBF00;
    color: white;
    align-items: center;
    
}

.title > div{
    margin: 0 auto;
}

.productsContainer{
    display: flex;
    flex-direction: column;
}

.productsContainer > div{
    border-bottom: 1px solid #7373D9;
}

.buttonsContainer{
    display: flex;
    justify-content: space-around;
}

@media (max-width: 700px){
    .basketPageContant{
        width: 95%;
    }
    .title{
        font-size:70%;
        padding: 5px 0;
    }
}