.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8vh;
    background: #7373D9;    
    font-size: large;
    color: white;
    position:-webkit-sticky;
    position:sticky;
    top:0;
    padding: 0 10%;
    z-index: 100;
}

.mainRedirect{
    user-select: none;
    cursor: pointer;    
}